/*---------------------------------------------------------------------------
  Copyright 2013 Microsoft Corporation.
 
  This is free software; you can redistribute it and/or modify it under the
  terms of the Apache License, Version 2.0. A copy of the License can be
  found in the file "license.txt" at the root of this distribution.
---------------------------------------------------------------------------*/

html,body,#app {
  height: 100%;
  padding: 0pt;
  margin: 0pt;
}

#app {
  padding: 0ex 1ex;
}

/* panes */

.toppane {
  text-align: right;
}

.pane {
  height: calc(100% - 1rem);
  width: calc(50% - 0.125rem);
  transition: width 0.8s;
}

.pane.wide {
  width: calc(70% - 0.125rem);
}
.pane.narrow {
  width: calc(30% - 0.125rem);
}
.pane-header {
  margin-bottom: 0.25rem;
}
.pane-content {
  height: calc(100% - 1.5rem - 6px);    
  padding: 1px;
}

.pane.right {
  float: right;
}
.pane.left {
  float: left;
}

#menubar, .pane-header {
  font-family: "Segoe UI";
}

#menubar {
  min-height: 0.8em;
}

#editor {
  height: 100%;
}

#view {
  height: 100%;
  margin: 0px;
  padding: 0px 1ex;
  overflow: scroll;
  background-color: white;
  transition: height 0.8s;
}


#view.short {
  height: calc(50% - 2px - 1.4rem);
}


#buttonbar-horizontal {
  height: 0.5rem;
  font-size: small;
}

#koka-console-out {
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 8pt;
  padding: 0.5rem;
  transition: height 0.8s;
  height: calc(100% - 17px);
}

#menubar input {
  width: 1.5ex;
  height: 1.5ex;
}

#logo {
  height: 1em;
  float: left;
  margin: 0.15em; 
}

.onedrive-logo {
  height: 0.9em;
}

.button {
  padding: 0pt 0.2em 0em 0.2em;
  background-color: white;
 }

.button:hover, .ibutton:hover {
  cursor: pointer;
  background-color: Gainsboro;
}

.button.disable:hover, .ibutton.disable:hover {
  background-color: white;
}

.button:active, .ibutton:active {
  background-color: Gray;
}


.ibutton {
  height: 1em;
  padding: 0em 0.25em;
}

.hide {
  visibility: hidden;
}

#document-content.menu {
  padding-top: 0.25em;
}
.menu hr {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#editor-header>.ibutton {
  float: right;
}

#view-header {
  max-width: 100%;
  white-space: nowrap;
  text-align: right;
}

#view-header .ibutton {
  float: left;
}

#warning {
  height: 1em;
}

#view-spinner, #sync-spinner {
  margin-top: 0.15em; 
}

#sync-spinner {
  float: right;
}


.pane-header img, .item img {
  height: 1em;
  margin-top: 0.15em;
}

.item .icon {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  margin-right: 0.25em;
}

.disable {
  color: #BBB;
}

.boxed {
  border: 1px solid #888 !important;
  border-radius: 5px;
}
.boxed div {
  border-radius: 5px;
}
div.boxed {
  padding: 1px;
}

#edit-select {
  background-color: white;
  width: 50%;
  padding: 0 1ex;
  display: inline-block;
}

#edit-select-content {
  padding: 0 1ex;
  min-height: 1em;
}

#edit-select-content .binaries {
  color: gray;
}

#document>span>img {
  vertical-align: middle;
  margin-top: 0.5ex;
  width: auto;
  height: 1.5ex;
}


#rename {
  display: inline;
  width: 10em;
  color: #555;
}

.menu .button {
  border: none;
}

.item {
  padding: 0.25ex 1ex;
}



.monaco-editor .token.code {
  background-color: #EEE;
}
.monaco-editor .token.code.keyword {
  color: navy;
}
.monaco-editor .token.metadata {
  color: navy;
}
.monaco-editor .token.string.escape {
  color: gray;
}

.msg-status {
}
.msg-error, .msg-exception {
  color: red;
}
.msg-warning {
  color: maroon;
}
div.msg-tool, div.msg-normal {
  background-color: FloralWhite;
}
.msg-section {
  border-bottom: 1px gray dotted;
}

#status {
  padding-left: 1ex;
}
#warning.hide {
  display: none;
}

#view p, #view li {
  text-align: justify;
}



.monaco-editor, .monaco-editor .lines-decorations {
  background-color: #FFFAF4;
}

#view {
  background-color: white;
}


.tri-left {
  width: 0; 
  height: 0; 
  border-top: 0.65em solid transparent;
  border-bottom: 0.65em solid transparent;   
  border-right:1em solid black; 
}
.tri-right {
  width: 0; 
  height: 0; 
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;   
  border-left:1em solid black; 
}
.tri-down {
  width: 0; 
  height: 0; 
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;   
  border-top:0.5rem solid black; 
}
.tri-up {
  width: 0; 
  height: 0; 
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;   
  border-bottom:0.5rem solid black; 
}


.spinner {
  width: 1em;
  height: 1em;
  visibility: hidden;
}

.spinner.spin {
  visibility: visible;
  -webkit-animation: spinner-rotate 2s infinite linear;
  animation: spinner-rotate 2s infinite linear;
}


@-webkit-keyframes spinner-rotate {
  from { -webkit-transform:rotate(0deg); }
  to   { -webkit-transform:rotate(360deg); }
}
@keyframes spinner-rotate {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg); }
}

.popup {
  position: relative;
}


.popup > div {
  transition: height 0.8s; 
}

.popup > div {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 0;
  background-color: white;
}

.popup:hover > div {
  display: block;
}

#menu-settings.popup {
  width: 1.5em;  
  float: right;
}

#view-message.popup {
  border-left: 1px solid black;
  background-color: white;
  width: 50%;
  display: inline-block;
  text-align: left;
}

#koka-console {
  height: 10em;
  border: 1px solid black;
}

#menu-settings-content {
  width: 15em;
  left: -1em;
}

#document-content {
  width: 16em;
}
